---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    return [
        {
            params: {category: 'has'},
            props: {name: ':has()'},
        },
        {
            params: {category: 'animating-grid'},
            props: {name: 'Animating Grid'},
        },
        {
            params: {category: 'view-transitions'},
            props: {name: 'View Transitions'},
        },
    ];
}

const {name} = Astro.props;
const {category} = Astro.params;
---

<Layout title={category!}>
    <section>
        <h1>{name}</h1>
    </section>
</Layout>
