@layer base, components;
@layer base {
    button {
        border: none;
        background: none;
    }

    .items {
        padding: 0;
        display: grid;
        gap: var(--spacing-sm);
    }

    .item {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        background: aliceblue;
        border: var(--border-sm) solid lightblue;
        padding: 0 var(--spacing-md);
        border-radius: var(--spacing-md);
        width: 300px;

        p {
            margin-bottom: 0;
        }
    }

    .entry-anims-container {
        display: grid;
        justify-content: center;
        width: 300px;
        margin: 0 auto;
    }

    .add {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        line-height: 0;
        margin: 0 auto;
    }
}

@layer components {
    .item {
        opacity: 1;
        height: 3rem;
        display: grid;
        overflow: hidden;
        transform-origin: bottom;
        transition: opacity 0.5s, transform 0.5s, height 0.5s, display 0.5s allow-discrete;
    }

    @starting-style {
        .item {
            opacity: 0;
            height: 0;
        }
    }

    /* while it is deleting, before DOM removal in JS */
    .is-deleting {
        opacity: 0;
        height: 0;
        display: none;
        transform: skewX(50deg) translateX(-25vw);
    }
}
